<div class="row">
    <div class="col s12 center">
        <p>You are looking for
            <span *ngIf="!searchStr">. . .</span>
            <span *ngIf="searchStr">{{ searchStr }}</span>
        </p>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <input placeholder="Name" id="first_name" class="validate" [(ngModel)]="searchStr">
        <label for="first_name"></label>

    </div>
</div>

<div class="row">
    <app-coach
            [coachComponent]="user"
            *ngFor="let user of users | search:searchStr">
    </app-coach>
</div>
